body {
    background-color: #F2F2F2;
}

.contain {
	max-width: 1000px;
}

.center {
	margin: 0 auto;
}

.headroom {
	padding: 9em 0em 6em 0em;
}

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

/* -------------------- TEXT STYLING -------------------- */


body p, body li {
    font-family: "nimbus-sans", sans-serif;
    font-size: 1em;
    font-weight: 300;
    color: #777777;
}

body h1 {
    font-family: "klinic_slabmedium", serif;
    font-size: 1.8em;
    color: #777777;
}

.main-headline {
}



body a {
	color: #F09648;
}

body a:hover {
	color: #FF802B;
}



/* -------------------- THUMBNAIL GALLERY -------------------- */ 


.thumb-container {
	overflow: hidden;
	margin: .5em 0;
}

.portfolio-thumb:hover {
	opacity: .7;
}

.on-page-gallery {
    margin: 1em 0;
}

.home .columns {
    padding-left: .5em;
    padding-right: .5em;
}

.gallery-contain ul {
    margin: 0;
    padding: 0;
}

/* -------------------- PORTFOLIO ENTRY PAGE -------------------- */

.project-img-full {
	padding: 10px 0px 30px 0px;
	float:left;
}

.project-description {
	font-size: 1em;
	color: #777777;
}

.portfolio-nav {
	border-top: 1px solid #999999;
	margin: 60px 0px;
    padding-top: 30px;
}

.prev-next-link a {
	font-weight: 400;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	color:#777777;
}

.prev-next-link a:hover{
	color: #5BDEAE;
}

/* --- responsive width video player --- */

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin-bottom: 20px;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



/* -------------------- ABOUT PAGE -------------------- */

.page-img {
    margin-bottom: 40px;
}

.about-copy p {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.8em;
}



/* -------------------- CONTACT PAGE -------------------- */ 


.contact-icon {
    margin: 0 auto;
    padding: 35px 0 15px 0;
    /*padding: 15px;*/
    max-width: 140px;
}

.contact-icon:hover {
    opacity: .8;
}

.contact-icons-container {
    margin-top:50px;
}

.contact {
    font-size: 16px;
    font-weight: 300;
    color: #777777;
}

.contact a {
    color: #F09648;
}

.contact a:hover {
    color: #FF802B;
}

p.contact {
    margin:0;
}


/* -------------------- FOOTER -------------------- */ 

footer {
	background-color: #6FD1AD;
	width: 100%;
    max-width: 100%;
}

footer.row {
    margin-right: 0;
    margin-left: 0;
    max-width: 100%;
}

.site-footer {
	padding: 30px 0;
	width:100%;
}

.copyright p{
	font-size: 12px;
	letter-spacing: 2px;
	color: #F2F2F2;
	text-align: center;
	text-transform: uppercase;
}

footer .nav a {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #777777;
    text-transform: uppercase;
    margin: 0 7px;
    padding-bottom: 3px;
}

footer .nav a:hover {
    color: #F2F2F2;
    border-bottom: 1px solid #f2f2f2;
}

footer .nav ul {
    margin-bottom: 12px;
    padding-top: 10px;
}

html, body {
	height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  border: 2px solid red;
}



/* --------------------------------- */


* {   
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

