body {
    background-color: #ffffff;
}

.contain {
	max-width: 90%;
}

.center {
	margin: 0 auto;
}

.headroom {
	padding: 9em 0em 6em 0em;
}

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

/* -------------------- TEXT STYLING -------------------- */


body p, body li {
    font-family: 'Open_Sans', sans-serif;
    font-size: .9em;
    font-weight: 300;
    color: #323232;
}

body h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: 800;
    color: #34421e;
}

.main-headline {
}



body a {
	color: #849324;
}

body a:hover {
	color:#849324;
}

body h3 {
    font-family: 'klinic_slabbold_italic', serif;
}

body h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    font-weight: 800;
}


/* -------------------- HEADER -------------------- */ 


header {
    width: 100%;
    height: 80px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.95);
    border-bottom: 0px solid #c2c2c2;
    padding: 0px 10px;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}

header h1#logo {
    display: inline-block;
    height: 100px;
    line-height: 90px;
    margin: 0;
    float: left;
    font-size: 26px;
    font-weight: 900;
    letter-spacing: -1px;
    color: #34421E;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#logo a {
    color: #34421E;
}

#logo a:hover {
    color:#323232;
}

header img {
    margin-right: 12px;
    max-width: 60px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

/* --- header nav --- */ 
header ul {
    display: inline-block;
    float: right;
    height: 100px;
    line-height: 100px;
} 

header li a {
    padding-bottom: 4px;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #34421E;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.nav a:hover {
    color:#849324;
    border-bottom: 1px solid #849324;
}

.nav ul {
    margin: 0;
    list-style-type: none;
    list-style: none;
    text-align: center;
}

.nav ul li { 
    display: inline;
    padding: 0 5px;
}




/* --- Selected Nav Link --- */
.selected { 
    color: #849324;
    border-bottom: 1px solid #849324;
    }


/* --- styling on scroll down, desktop --- */

header.smaller {
    height: 50px;
}
header.smaller h1#logo {
    height: 50px;
    line-height: 45px;
    font-size: 20px;
}
header.smaller ul {
    height: 50px;
    line-height: 50px;
}
header.smaller ul a {
    line-height: 50px;
}

header.smaller img {
    max-width: 30px;
}

/* --- Mobile Styling --- */

@media all and (max-width: 660px) {
    header {
        height: 120px;
    }
    header h1#logo {
        display: block;
        float: none;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 25px;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    header img {
        max-height: 100%;
    }
    .nav {
        display: block;
        float: none;
        text-align: center;
    }
    .nav a {
        font-size: 13px;
    }

    header ul {
        float: none;
        height: 45px;
        line-height: 30px;
    }

    /* Styling on scroll down, mobile */
    header.smaller {
        height: 50px;
    }

    header.smaller span {
        display: none;
    }

    header.smaller h1#logo {
        float: left;
        margin: 8px 0;
    }

    header.smaller ul {
        height: 50px;
        line-height: 50px;
        display: inline-block;
        float: none;
    }

    header.smaller img {
        float: left;
        display: none;
    }

    header.smaller .nav {
    }

    .nav a {
        font-size: 12px;
    }

    .nav ul li {
        padding: 0 4px;
    }

    
}



/* -------------------- THUMBNAIL GALLERY -------------------- */ 


.thumb-container {
	overflow: hidden;
	margin: .5em 0;
}

.portfolio-thumb:hover {
	opacity: .7;
}

.on-page-gallery {
    margin: 1em 0;
}

.home .columns {
    padding-left: .5em;
    padding-right: .5em;
}

.gallery-contain.row {
    width: 90%;
    max-width: 2000px;
}

.gallery-contain ul {
    margin: 0;
    padding: 0;
}

.gallery-contain li {
    padding:0 0.25rem .5rem;
}

@media only screen and (max-width: 40em) {
  .gallery-contain ul {
    padding: 0 1em 0 1em;
  }
}

@media only screen and (min-width: 40em) and (max-width: 64em) {
  .gallery-contain ul {
    padding: 0 3em 0 3em;
  }
}



/* -------------------- PORTFOLIO ENTRY PAGE -------------------- */

.project-img-full {
	padding: 10px 0px 30px 0px;
}

/* Center Project Images */
.project-img-full img {
    display: block;
    margin: auto;
}

/* Image Caption Div Styling */
.project-img-caption {
    margin-top: 15px;
    padding: 10px 0 30px 0;
    border-top: solid #dbdbdb 2px;
}

/* Caption Text Styling */
.portfolio-img-column .project-img-caption h3 {
    font-family: 'klinic_slabbold_italic', serif;
    font-size: 1.2em;
    margin: 0 0 5px 0;
    color: #999;
}

.portfolio-img-column .project-img-caption p {
    margin: 0px;
    font-size: .85em;
    font-weight: 400;
    letter-spacing: .01em;
    color: #adadad;
    line-height: 180%
}

.project-img-caption p br {
   line-height: 240%;
}


/* Project Overview Text Styling */
p .project-description {
	font-size: 1em;
	color: #777777;
}

/* misc */
.portfolio-nav {
	border-top: 1px solid #999999;
	margin: 0 auto;
    padding-top: 30px;
}

.prev-next-link a {
	font-weight: 400;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	color:#777777;
}

.prev-next-link a:hover{
	color: #5BDEAE;
}

/* --- responsive width video player --- */

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin-bottom: 20px;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Locked Project Page Text Styling */
p .locked-project-description {
    margin:0 auto;
    font-size: 1em;
    text-align: center;
    color: #777777;
}

/* -------------------- ABOUT PAGE -------------------- */

.page-img {
    margin-bottom: 40px;
}

.about-copy p {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.8em;
}



/* -------------------- CONTACT PAGE -------------------- */ 


.contact-icon {
    margin: 0 auto;
    padding: 4px;
    max-height: 60px;
    max-width: 40px;
}

.contact-icon:hover {
    opacity: .8;
}

.contact-icons-container {
    margin-top:80px;
    min-height: calc(100vh - 470px);
}

.contact {
    font-size: .8em;
    font-weight: 300;
    color: #777777;
}

.contact a {
    text-transform: none;
}

p.contact {
    margin:0;
}

h2.contact-title {
    padding: .8em 0;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0px ;
    color: #323232;
}


/* -------------------- FOOTER -------------------- */ 

footer {
    /* background-image: url("/img/turq-diamonds.png"); */
	background-color: #34421E;
	width: 100%;
    max-width: 100%;
}

footer.row {
    margin-right: 0;
    margin-left: 0;
    max-width: 100%;
}

.site-footer {
	padding: 50px 0;
	width:100%;
}

.copyright p{
	font-size: 12px;
	letter-spacing: 2px;
	color: #F2F2F2;
	text-align: center;
	text-transform: uppercase;
}

footer .nav a {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #849324;
    text-transform: uppercase;
    margin: 0 7px;
    padding-bottom: 3px;
}

footer .nav a:hover {
    color: #F2F2F2;
    border-bottom: 1px solid #f2f2f2;
}

footer .nav ul {
    margin-bottom: 12px;
    padding-top: 10px;
}

html, body {
	height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  border: 2px solid red;
}



/* --------------------------------- */


* {   
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

