body {
	background-color: #F2F2F2;
}

.contain {
	max-width: 1000px;
}

.center {
	margin: 0 auto;
}

.headroom {
	padding: 180px 0px 100px 0px;
}

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}


/* -------------------- TEXT STYLING -------------------- */


.main-headline {
	font-family: "Josefin Slab", serif;
	font-size: 2em;
	color: #777777;
}

.body-copy {
	font-family: "Lato", sans-serif;
	font-size: 2em;
	font-weight: 300;
	color: #777777;
}

.body-copy a {
	color: #F09648;
}

.body-copy a:hover {
	color: #FF802B;
}


/* -------------------- HEADER -------------------- */ 


header {
    width: 100%;
    height: 100px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #ffffff;
    border-bottom: 1px solid #999999;
    padding: 0px 20px;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}

header h1#logo {
    display: inline-block;
    height: 100px;
    line-height: 100px;
    float: left;
    font-family: "Josefin Slab", serif;
    font-size: 1.8em;
    text-transform: uppercase;
    color: #8a8a8a;
    font-weight: 600;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#logo a {
	color: #8a8a8a;
}

#logo a:hover {
	color:#5BDEAE;
}

header nav {
    display: inline-block;
    float: right;
    height: 100px;
}

header nav a {
    line-height: 110px;
    margin-left: 20px;
    padding: 5px 2px;
    font-family: "Lato", sans-serif;
	font-weight: 300;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #8a8a8a;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.main-nav a:hover {
	color:#5BDEAE;
	border-bottom: 1px solid #5BDEAE;
}


/* --- Selected Nav Link --- */
.selected { 
    color: #6FD1AD;
    border-bottom: 1px solid #5BDEAE;
    }


/* --- styling on scroll down, desktop --- */

header.smaller {
    height: 50px;
}
header.smaller h1#logo {
    height: 50px;
    line-height: 50px;
    font-size: 1.2em;
}
header.smaller nav a {
    line-height: 50px;
}


/* --- Mobile Styling --- */

@media all and (max-width: 660px) {
    header {
    	height: 7.3em;
    }
    header h1#logo {
        display: block;
        float: none;
        height: 2.2em;
        line-height: 2.2em;
        text-align: center;
        font-size: 1.7em;
        margin-top: .3em;
    }
    header #logo a {
        color: #6FD1AD;
    }
    .main-nav {
        display: block;
        float: none;
        text-align: center;
        height: 2em;
    }
    .main-nav a {
        line-height: 2em;
        margin: 0 .5em;
        font-size: .9em;
    }

    /* Styling on scroll down, mobile */
    header.smaller {
        height: 4.4em;
    }

    header.smaller h1#logo {
        height: 1.8em;
        line-height: 1.8em;
        font-size: 1em;
    }

    header.smaller #logo a {
        color: #8a8a8a;
    }

    header.smaller nav {
        height: 1.4em;
    }

    header.smaller nav a {
        line-height: 1.4em;
    }
}




/* -------------------- THUMBNAIL GALLERY -------------------- */ 


.thumb-container {
	overflow: hidden;
	margin: 10px 0;
}

.portfolio-thumb:hover {
	opacity: .8;
}


/* -------------------- PORTFOLIO ENTRY PAGE -------------------- */

.project-img-full {
	padding: 10px 0px 30px 0px;
	float:left;
}

.project-description {
	font-family: "Lato", sans-serif;
	font-size: 1em;
	color: #777777;
}

.portfolio-nav {
	border-top: 1px solid #999999;
	margin: 60px 0px;
}

.prev-next-link a {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	color:#777777;
}

.prev-next-link a:hover{
	color: #5BDEAE;
}

/* --- responsive width video player --- */

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



/* -------------------- FOOTER -------------------- */ 

#footer {
	background-color: #6FD1AD;
	width: 100%;
}

.site-footer {
	padding: 30px 0;
	width:100%;
}

.copyright p{
	font-family: "Lato", sans-serif;
	font-size: 12px;
	letter-spacing: 2px;
	color: #F2F2F2;
	text-align: center;
	text-transform: uppercase;
}

html, body {
	height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  border: 2px solid red;
}



/* --------------------------------- */


* {   
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

