/* -- Name, logo, info Left Column -- */
.landing h1 {
	font-family: 'nimbus-sans', sans-serif;
	font-weight: 300;
	font-size: 1.3em;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #777777;
	margin-bottom: 0;
}

.landing-contact a, .landing-contact li, .landing-contact p {
	font-family: 'klinic_slablight', serif;
	color: #777777;
}

.landing-contact ul{
	list-style: none;
}

.landing-contact {
	margin-bottom: 20px;
	margin-top: 15px;
}

.site-link {
	margin-top: 40px;
}

.site-link a {
	font-family: 'nimbus-sans', sans-serif;
	font-weight: 300;
	color: #F09648;
}

.site-link p {
	font-family: 'nimbus-sans', sans-serif;
	font-weight: 300;
	color: #777777;
}

.resume-logomark{
	max-width: 120px;
	margin-bottom: 20px;
}


/* -- Section Titles -- */
.landing h2 {
	font-family: 'klinic_slabbook', serif;
	font-size: 1.1em;
	color: #777777;
}

/* -- Company Name -- */
.landing h3 {
	font-family: 'klinic_slabbold', serif;
	font-size: 1em;
	text-transform: uppercase;
	color: #777777;
	margin: 0;
}

/* -- Company Role -- */
.landing h4 {
	font-family: 'klinic_slabbold_italic', serif;
	font-size: 1em;
	color: #777777;
	margin: 0;
}

.landing li {
	padding-top: 0;
}

.when {
	font-family: 'klinic_slablight_italic', serif;
	font-size: 1em;
	text-transform: none;
	color: #777777;
}

.when:before {
	content:' — ';
}

.landing ul {
	list-style: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
}


.resume-section {
	margin-bottom: 50px;
}



/* --- Skills Columns --- */
.skills .columns {
	padding-left: 0;
}

/* --- Mobile Styling --- */
@media all and (max-width: 40em) {
    .skills-list li {
    	display: inline;
    }
    .skills-list li:after {
    	content: ', ';
    }
    .skills-list li:last-child:after {
    	content: none;
    }
    .when {
    	display: block;
    }
    .when:before {
    	content: none;
    }

}
