<div class="clearfix"></div>

<footer class="site-footer row">

  <div class="wrap">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-1 small-4 column">
      <ul>
        <li>{{ site.title }}</li>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      </ul>
    </div>

    <div class="footer-col-2 small-4 column">
      <ul>
        
      </ul>
    </div>

    <div class="footer-col-3 small-4 column">
      <p class="text">{{ site.description }}</p>
    </div>

  </div>

</footer>
