<header id="header" class="clearfix">

  <div class="contain center">
    <div class="logo">
      <h1 id="logo"><a href="{{ site.baseurl }}">Lana Marshall</a></h1>
    </div>
    
    <nav id="main-nav" class="main-nav">
        <a href="{{ site.baseurl }}">Portfolio</a>
        {% for page in site.pages %}
          {% if page.title %}
          <a href="{{ site.baseurl }}{{ page.permalink }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
        
    </nav>
  </div>

</header>
