<div id="header">
  
  <nav class="header">
    <div class="logo small-12 medium-4 columns">
      <h1><a href="{{ site.baseurl }}/">Lana Marshall</a></h1>
    </div>
    
    <div class="nav small-12 medium-8 columns">
        {% for page in site.pages %}
          {% if page.title %}
          <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
        <a href="{{ site.baseurl }}">Portfolio</a>
    </div>
  </nav>

</div>

<!-- jQuery -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

<!-- Foundation JS -->
<script src="js/foundation.min.js"></script>
<script src="js/foundation.topbar.js"></script>