<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">

    <!-- Google Verification -->
    <meta name="google-site-verification" content="n7nBOmbCNUnHy7_NcZW6cGWFXBwtnI5aJ5OrQYeiFAg" />


    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Google Fonts -->
    <!-- <link href='http://fonts.googleapis.com/css?family=Josefin+Slab:400,600,700,400italic,600italic,700italic' rel='stylesheet' type='text/css'>

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>-->
    
    
    <!-- Foundation CSS -->
    <link rel="stylesheet" href="/css/foundation.min.css"> 

    <!-- Typekit Js -->
    <script src="//use.typekit.net/vqf0pzi.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">

    <!-- Resume CSS -->
    <link rel="stylesheet" href="/css/resume.css">

    <!-- Klinic Slab CSS -->
    <link rel="stylesheet" href="/css/klinic-slab/stylesheet.css" type="text/css" charset="utf-8" /> 

    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

</head>
