<div class="landing landing-contact text-center small-12 columns small-center">
  <div class="resume-logomark center">
    <a href="http://lanamarshall.com/">
      <img src="{{ site.logomark }}">
    </a>
    </div>
      <h1 class="main-headline">Lana Marshall</h1>
      <h2>Graphic Design & Art Direction</h2>
      <ul class="landing-contact resume-block">    
          <li>{{ site.location }}</li>
          <li><a href="{{ site.email }}">{{ site.email }}</a></li>
          <li><a href="{{ site.phone }}">512.965.4437</a></li>
          <li>{{ content }}</li>
      </ul>
    <div class="site-link">
      <p>My portfolio may now be found at <a href="http://lanamarshall.com/" target="_blank">lanamarshall.com</a>.</p>
    </div>
</div>  