
  <!-- Previous Project Link -->
  <div class="prev-next-link left"> 
    {% if page.next.url %} 
      <a href="{{ site.url }}{{page.next.url}}" title="Previous">previous</a> 
    {% endif %} 
  </div> 

  <!-- Next Project Link -->
  <div class="prev-next-link right"> 
    {% if page.previous.url %} 
      <a href="{{ site.url }}{{page.previous.url}}" title="Next">next</a> 
    {% endif %} 
  </div>


<!--<div class="section-nav">
  <div class="left align-right">
    {% assign prev_item_url = null %}
    {% for project in site.data.projects %}    
       {% for permalink in project.permalink %}
           {% assign project_url = permalink | prepend:"/" | append:"/" %}
           {% if project_url == page.url %} 
               <!-- current iten - so set the previous  --><!--
           {% if prev_project_url != null %}
              <a href="{{ prev_project_url }}" class="prev">Back</a>
               {% else %}
                  <span class="prev disabled">Back</span>
               {% endif %}

           {% endif %}
           {% assign prev_project_url = project_url %}
       {% endfor %}
    {% endfor %}
  </div>
  <div class="right align-left">
    {% assign next_project_url = null %}
    {% for project in site.data.projects reversed %}    
       {% for permalink in project.permalink reversed%}
           {% assign project_url = permalink | prepend:"/" | append:"/" %}
           {% if project_url == page.url %} 
               <!-- current iten - so set the next  --><!--
           {% if next_project_url != null %}
              <a href="{{ next_project_url }}" class="next">Next</a>
               {% else %}
                  <span class="next disabled">Next</span>
               {% endif %}

           {% endif %}
           {% assign next_project_url = project_url %}
       {% endfor %}
    {% endfor %}
  </div>
  <div class="clear"></div>
</div>-->




<!-- <div class="project-nav">
  <div class="left align-right">
    {% assign prev.project.permalink = null %}
    {% for project in site.data.projects %}    
       {% for permalink in project.permalink %}
           {% assign project.permalink = project | prepend:"/" %}
           {% if project.permalink == page.permalink %} 
               <! current project - so set the previous  >
           {% if prev.project.permalink != null %}
              <a href="{{ prev.project.permalink }}" class="prev">Previous</a>
               {% else %}
                  <span class="prev disabled">Previous</span>
               {% endif %}

           {% endif %}
           {% assign prev.project.permalink = project.permalink %}
       {% endfor %}
    {% endfor %}
  </div>

  <div class="right align-left">
    {% assign next.project.permalink = null %}
    {% for project in site.data.projects reversed %}    
       {% for permalink in project.permalink reversed%}
           {% assign project.permalink = project | prepend:"/" %}
           {% if project.permalink == page.permalink %} 
               <! current iten - so set the next  >
           {% if next.project.permalink != null %}
              <a href="{{ next.project.permalink }}" class="next">Next</a>
               {% else %}
                  <span class="next disabled">Next</span>
               {% endif %}

           {% endif %}
           {% assign next.project.permalink = project.permalink %}
       {% endfor %}
    {% endfor %}
  </div> 
  <div class="clear"></div>
</div> -->