{% for education in site.data.education %}

        <div class="block">
            <div class="main-row">
                
                <div class="org">
                    <h3>{{ education.org }}</h3>
                </div>

                <div class="when">
                    <h3>{{ education.when }}</h3>
                </div>
            </div>
            <div class="sub-row">
                <div class="role">
                    <h4>{{ education.role }}</h4>
                </div>
                <div class="location">
                    <h4>{{ education.location }}</h4>
                </div>
            </div>
            
            {% if education.bullets %}
            <div>
                {% for bullet in education.bullets %}
                <p>{{ bullet | markdownify }}</p>
                {% endfor %}
            </div>
            {% endif %}
        </div>

{% endfor %}