<div class="skills resume-block">
    {% for skills in site.data.skills %}
        <div class="skills-column resume-block small-12 medium-4 columns">
            
                <div class="org"><h3>{{ skills.category }}</h3></div>
                    
                {% if skills.bullets %}
                    <ul class="skills-list">
                        {% for bullet in skills.bullets %}
                            <li>{{ bullet }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
        
        </div>
    {% endfor %}
</div>


