---
layout: default
---


<div class="portfolio-entry row">

  {% if project.id == page.projectid %}
    
    {% for image in project.images %}
      <div class="small-12 medium-8 columns">
          <img src="{{ site.baseurl }}{{ project.imagefolder }}/{{ image.name }}">
      </div>
    {% endfor %}
    
  {% endif %}

<!-- Project Title and Description -->
  <div class="project-text small-12 medium-4 columns">
    <h1 class="main-headline">{{ project.title }}</h1>
    <div class="project-description">
      <p>{{ project.description }}</p>
    </div>
  </div>

</div>




<div class="portfolio-nav small-12 columns"> 
        <div class="clearfix">&nbsp;</div> 
        <div class="prev-next-link left"> 
        {% if page.next.url %} 
                <a href="{{ site.baseurl }}{{page.next.url}}" title="Previous Post: {{page.previous.title}}">previous</a> 
        {% endif %} 
        </div> 

        <div class="prev-next-link right"> 
        {% if page.previous.url %} 
                <a href="{{ site.baseurl }}{{page.previous.url}}" title="next Post: {{page.next.title}}">next</a> 
        {% endif %} 
        </div> 
        <div class="clear">&nbsp;</div> 
</div>

