---
layout: default
---

{% for project in site.data.projects%}
  {% if project.id == page.projectid %}

    <div class="portfolio-entry row">
      
      <!-- Project Images -->
      <div class="small-12 medium-8 columns">
        {% for image in project.images %}
          <div class="project-img-full">
              <img src="{{ site.baseurl }}{{ project.imagefolder }}/{{ image.name }}">
          </div>
        {% endfor %}
        <p>{{ content }}</p>
      </div>
        
      <!-- Project Title and Description -->
      <div class="project-text small-12 medium-4 columns">
        <h1 class="main-headline">{{ project.title }}</h1>
        <div class="project-description">
          <p>{{ project.description }}</p>
        </div>
      </div>

    </div>

  {% endif %}
{% endfor %}


<!-- Project Naviation -->
<div class="portfolio-nav small-12 columns"> 
  <div class="clearfix">&nbsp;</div> 
  
  <!-- Previous Project Link -->
  <div class="prev-next-link left"> 
    {% if page.next.url %} 
      <a href="{{ site.baseurl }}{{page.next.url}}" title="Previous Post: {{page.previous.title}}">previous</a> 
    {% endif %} 
  </div> 

  <!-- Next Project Link -->
  <div class="prev-next-link right"> 
    {% if page.previous.url %} 
      <a href="{{ site.baseurl }}{{page.previous.url}}" title="next Post: {{page.next.title}}">next</a> 
    {% endif %} 
  </div> 
  
  <div class="clear">&nbsp;</div> 
</div>

