---
layout: default
---
<div class="portfolio-entry">


    
    <!-- <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p> -->
    <div class= "project-img-full small-12 medium-8 columns">
    	<img src="{{ page.img-full-01 }}"/>
    </div>

    
    <h1 class="project-description small-12 medium-4 columns">{{ page.title }}</h1>

    <p class="project-description small-12 medium-4 columns">
    {{ content }}
    </p>


    <div class= "project-img-full small-12 medium-8 columns">
      <img src="{{ page.img-full-01 }}"/>
    </div>


</div>