---
layout: default
---
<div class="portfolio-entry row clearfix">


  <div class="small-12 medium-8 columns">

    <div class= "project-img-full ">
    	<img src="{{ page.url }}{{ page.img-full-01 }}"/>
    </div>

    <div class= "project-img-full ">
      <img src="{{ page.img-full-02 }}"/>
    </div>

    <div class= "project-img-full ">
      <img src="{{ page.img-full-03 }}"/>
    </div>

    <div class= "project-img-full ">
      <img src="{{ page.img-full-04 }}"/>
    </div>

    <div class= "project-img-full ">
      <img src="{{ page.img-full-05 }}"/>
    </div>

  </div>

  <div class="project-text small-12 medium-4 columns">
    <h1 class="main-headline">{{ page.title }}</h1>
    <div class="project-description">
      <p>{{ content }}</p>
    </div>
  </div>

</div>


<div class="portfolio-nav small-12 columns"> 
        <div class="clearfix">&nbsp;</div> 
        <div class="prev-next-link left"> 
        {% if page.next.url %} 
                <a href="{{page.next.url}}" title="Previous Post: 
{{page.previous.title}}">previous</a> 
        {% endif %} 
        </div> 

        <div class="prev-next-link right"> 
        {% if page.previous.url %} 
                <a href="{{page.previous.url}}" title="next Post: 
{{page.next.title}}">next</a> 
        {% endif %} 
        </div> 
        <div class="clear">&nbsp;</div> 
</div>

