---
layout: default
---

<div class="resume row">

	
	<!-- Logo and Contact Info Section -->
	<div class="resume-contact text-center small-12 medium-4 columns">
	    <h1 class="main-headline">{{ page.headline }}</h1>
	    <div class="resume-contact ">   	
	        <p>{{ site.location }}</p>
			<p><a href="{{ site.email }}">{{ site.email }}</a></p>
			<p><a href="{{ site.phone }}">512.965.4437</a></p>
			<p><a href="/">lanamarshall.com</a></p>
	    </div>
	    <div class="resume-print">
	    	<p><a href="{{ site.resume }}" target="_blank">Print Resume</a></p>
	    </div>
	</div>   

	<div class="resume small-12 medium-8 columns">
		{% for section in site.data.sections %}
			    
			<div class="resume-section">
			    <div><h2>{{ section.name }}</h2></div>
			    {% include resume/{{ section.layout }} %}
			</div>

		{% endfor %}
	</div>


</div>