---
layout: default
---

<div class="resume row">

	
	<!-- Logo and Contact Info, left side on desktop -->
	<div class="resume-contact text-center small-12 medium-4 columns">
	    <h1 class="main-headline">{{ page.headline }}</h1>
	    <p class=""></p>
	    <ul class="resume-contact resume-block">   	
	        <li>{{ site.location }}</li>
			<li><a href="{{ site.email }}">{{ site.email }}</a></li>
			<li><a href="{{ site.phone }}">512.965.4437</a></li>
			<li><a href="/">lanamarshall.com</a></li>
			<li>{{ content }}</li>
	    </ul>
	    <div class="resume-print-link">
	    	<p><a href="{{ site.resume }}" target="_blank">Print Resume</a></p>
	    </div>
	</div>   

	<!-- Education, Experience and Skills sections -->
	<!-- add new sections using sections.yml -->
	<div class="resume small-12 medium-8 columns">
		{% for section in site.data.sections %}    
			<div class="resume-section">
			    <div><h2>{{ section.name }}</h2></div>
			    {% include resume/{{ section.layout }} %}
			</div>
		{% endfor %}
	</div>


</div>